@bodyBg: #f5f6f6;
@fontColor: #555;
@fontHoverColor: #000;
@headBg: #5e87b0;
@headFontColor: #fff;
@sidebarBg: #eff2f7;
@menuBg: #f4f4f4;
@menuItemBg: #e7e7e7;
@menuItemHoverBg: #f5f6f6;
@borderColor: #cdd2d2;
@panelHeadBg: #E5E9F2;
@panelHeadFontColor: #555;
@borderRadius: 4px;
